/* Font styles and sizing for the entire page */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Styling for textareas */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Allow white space to wrap within textareas */
.description {
  white-space: pre-wrap;
}

/* Styling for time block containers */
.time-block {
  border-radius: 15px;
}

/* Styling for rows (time blocks) */
.row {
  border-top: 1px solid white;
}

/* Styling for hours in time blocks */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Styling for past time blocks */
.past {
  background-color: #d3d3d3;
  color: white;
}

/* Styling for present time blocks */
.present {
  background-color: #ff6961;
  color: white;
}

/* Styling for future time blocks */
.future {
  background-color: #77dd77;
  color: white;
}

/* Styling for save buttons */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* Styling for save button icon on hover */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
